body {
    text-align:center;
    background-color:lightblue;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.headline {
    text-shadow: 0 0 2px tan;
}

h4, .rules {
    text-align: left;
}

h4 {
    text-indent: 25px; 
}

.rules {
    font-style: italic;
}

.start , .total {
    font-weight: bold;
}

.container  {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
  }

.box {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 260px;
    width: 260px;
    border: 5px solid black;
    background-color:tan;
    box-shadow: 3px 3px 3px 1.5px gray;
    cursor:pointer;
  }

.box .one {
        position: relative;
        width: 20%;
        height: 11%;
        margin: auto;
        margin-top:0;
        background: green;
        border: 2px solid black;
        margin-bottom:0;
        cursor:pointer;
    }

    .box .two {
        position: relative;
        width: 35%;
        height: 12%;
        margin: auto;
        margin-top: 0%;
        background: green;
        border: 2px solid black;
        margin-bottom:0;
        cursor:pointer;
    }

    .box .three {
        position: relative;
        width: 50%;
        height: 13%;
        margin: auto;
        margin-top: 0%;
        background: green;
        border: 2px solid black;
        margin-bottom:0;
        cursor:pointer;
    }

    .box .four {
        position: relative;
        width: 65%;
        height: 14%;
        margin: auto;
        margin-top: 0%;
        background: green;
        border: 2px solid black;
        margin-bottom:0;
        cursor:pointer;
    }

    .box .five {
        position: relative;
        width: 80%;
        height: 15%;
        margin: auto;
        margin-top: 0%;
        background: green;
        border: 2px solid black;
        margin-bottom:0;
        cursor:pointer;
    }

    .yellowBoarder {
        border: 5px solid yellow
    }


 