/* scalability to smaller screen */


body {
    text-align:center;
    background-color:lightblue;
}

h1 {
    background-color: lightcyan;
}

h3, .rules {
    background-color: lightseagreen;
    text-align: left;
}

.container  {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
  }

.box {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 300px;
    width: 300px;
    border: 5px solid black;
  }

.box .one {
        position: relative;
        width: 25%;
        height: 11%;
        margin: auto;
        /* margin-top: 10%; */
        background: green;
        border: 2px solid black;
        margin-bottom:0%;
    }

    .box .two {
        position: relative;
        width: 35%;
        height: 12%;
        margin: auto;
        margin-top: 0%;
        background: green;
        border: 2px solid black;
        margin-bottom:0%;
    }

    .box .three {
        position: relative;
        width: 45%;
        height: 13%;
        margin: auto;
        margin-top: 0%;
        background: green;
        border: 2px solid black;
        margin-bottom:0%;
    }

    .box .four {
        position: relative;
        width: 55%;
        height: 14%;
        margin: auto;
        margin-top: 0%;
        background: green;
        border: 2px solid black;
        margin-bottom:0%;
    }

    .box .five {
        position: relative;
        width: 65%;
        height: 15%;
        margin: auto;
        margin-top: 0%;
        background: green;
        border: 2px solid black;
        box-align: baseline;
        margin-bottom:0%;
    }

    .yellowBoarder {
        border: 5px solid yellow
    }

 

    /* move blocks to bottom of div */