/* scalability to smaller screen */


body {
    text-align:center;
    background-color:lightblue;
}

h1 {
    background-color: lightcyan;
}

h3, .rules {
    background-color: lightseagreen;
    text-align: left;
}

.container  {
    text-align: center;
    position: relative;
  }

.box {
    position:relative;
    display:inline-block;
    height: 300px;
    width: 300px;
    border: 5px solid black;
  }

/* .box .one {
        position: relative;
        width: 25%;
        height: 11%;
        margin: auto;
        margin-top: 10%;
        background: green;
        border: 2px solid black;
    }

    .box .two {
        position: relative;
        width: 35%;
        height: 12%;
        margin: auto;
        margin-top: 0%;
        background: green;
        border: 2px solid black;
    }

    .box .three {
        position: relative;
        width: 45%;
        height: 13%;
        margin: auto;
        margin-top: 0%;
        background: green;
        border: 2px solid black;
    } */

    .box .four {
        position: relative;
        width: 55%;
        height: 14%;
        margin: auto;
        /* margin-top: 0%; */
        background: green;
        border: 2px solid black;
    } 

    .box .five {
        position: absolute;
        width: 65%;
        height: 15%;
        margin: auto;
        /* margin-top: 0%; */
        background: green;
        border: 2px solid black;
        bottom:0;
        left: 0;
        right: 0;
    }
